.pageStats {
  display: flex;
  justify-content: space-between;

  margin-top: -17px;
}

.pageStats__options {
  margin-top: -30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.pageStats__options__text {
  font-size: larger;
}

.pageStats__overview {
  padding: 20px;
  display: flex;
  align-items: center;
}

.pageStats__overview__options {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid rgb(224, 224, 224);
  padding: 10px 15px;
  margin-left: 1rem;
  box-shadow: 4px 4px 3px 3px rgb(238, 238, 238);
  border-radius: 3px;
}

.pageStats__overview__options__icon {
  margin-left: 1rem;
}
.pageHeader {
  display: flex;
  justify-content: space-between;
  width: 55vw;
}

.pageHeader__icons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.pageHeader__icons__img {
  padding-left: 1rem;
}

.pageHeader__icons__profile {
  width: 45px;
  height: 45px;
  border-radius: 1rem;
  background-color: var(--light-blue);
  border: 1px solid rgb(177, 177, 177);
}

.pageStats__balance {
  background-color: var(--light-blue-accent);
  border-radius: 2rem;
  padding: 3rem;
  margin-left: 1rem;
  width: 15vw;
}

.pageStats__data {
  display: flex;
}

.border__gray {
  color: #dadada;
  border: 1px solid;
  text-shadow: 1px 1px;
  margin-bottom: 2rem;
}

.barChart__container {
  margin-left: -80px;
}
