.pageStats {
  display: flex;
  justify-content: space-between;
  /* width: 400px; */
  /* background-color: red; */
  margin-top: -17px;
  /* background-color: green; */
}

.pageStats__options {
  margin-top: -30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* background-color: red; */
}
.pageStats__options__text {
  font-size: larger;
}

.pageHeader {
  display: flex;
  justify-content: space-between;
  /* background-color: green; */
  width: 55vw;
  /* width: 100%; */
}

.pageHeader__icons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.pageHeader__icons_notification {
  /* border: 1px solid black; */
  /* color: red; */
}

.pageHeader__icons__img {
  padding-left: 1rem;
}

.pageHeader__icons__profile {
  width: 45px;
  height: 45px;
  border-radius: 1rem;
  background-color: var(--light-blue);
  border: 1px solid rgb(177, 177, 177);
}

.pageStats__balance {
  background-color: var(--light-blue-accent);
  border-radius: 2rem;
  padding: 3rem;
  margin-left: 1rem;
  width: 15vw;
}

.pageStats__data {
  display: flex;
}

.border__gray {
  color: #dadada;
  border: 1px solid;
  text-shadow: 1px 1px;
  margin-bottom: 2rem;
}

.barChart__container {
  margin-left: -80px;
}
