.sidebar {
  background-color: var(--dark-blue);
  /* padding: 1rem; */
  padding: 0 1rem;
  border-radius: 2rem;
  height: 120vh;
}

.sidebar_header {
  display: flex;
  padding-top: 0;
  padding: 0 2rem;
}

.sidebar_header_logo {
  /* color: #37d5d6; */
  transform: rotate(50deg);
}

.sidebar_header_text {
  color: #f9f0fc;
  font-weight: 700;
}

.border {
  color: #664cb0;
  border: 1px solid;
  text-shadow: 1px 1px;
  margin-bottom: 2rem;
}

.sidebar__image {
  margin-top: 5rem;
  width: 90%;
  height: 32%;
  background-color: #5936cc;
  border-radius: 2rem;
}

.sidebar__option {
  color: #a596d7;
  font-weight: bold;
  font-size: x-small;
}

.options {
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
  margin-right: 1rem;
  cursor: pointer;
}
.options:hover {
  background-color: white;
  text-decoration-color: black;
}
.options__name:hover {
  color: black;
  font-weight: 300;
}

.options__name {
  padding-left: 1rem;
  color: white;
  font-weight: 200;
}
