.details {
  padding-top: 30px;
}

.flex {
  display: flex;
}

.boxArrowUp__icons {
  padding: 1rem;
  background-color: aquamarine;
  border-radius: 1rem;
}
.boxArrowDown__icons {
  padding: 1rem;
  background-color: purple;
  border-radius: 1rem;
}

.income__section {
  background-color: whitesmoke;
  border-radius: 2rem;
  padding: 1rem;
  margin-left: 50px;
  width: 300px;
}

.income__text {
  display: flex;
  justify-self: center;
  align-items: center;
}
.income__amount {
  margin-bottom: -10px;
  font-size: large;
}

.income__statement {
  color: gray;
  font-size: small;
}

.income__text__details {
  padding-left: 10px;
}

/* table */

.table__payment {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  font-size: medium;
  color: rgb(85, 85, 85);
}

.table__status {
  font-size: small;
  font-weight: bolder;
  color: gray;
}

.table__header {
  color: gray;
  font-size: larger;
  opacity: 80%;
}
.table__icon {
  margin-right: 10px;
  width: 30px;
  height: 30px;
}
