@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400&display=swap");

:root,
body {
  margin: 0px;
  padding: 0px;
}

.App {
  display: flex;
  font-family: "Nunito", "sans-serif";
}

.main {
  width: 100vw;
  padding: 2rem;
}
/* .pageCard {
  overflow-y: scroll;
} */
