@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700&display=swap");
:root,
body {
  margin: 0px;
  padding: 0px;
  --dark-blue: #4424a7;
  --light-blue: #09c0d6;
  --light-blue-accent: whitesmoke;
}

.App {
  display: flex;
  font-family: "Nunito", "sans-serif";
}

.main {
  width: 100vw;
  padding: 2rem;
  overflow-x: hidden;
  margin-left: 15rem;
}

.dot_aqua {
  height: 10px;
  width: 10px;
  border-radius: 50%;
  display: inline-block;
  margin-right: 10px;
  background-color: var(--light-blue);
}
.dot_purple {
  margin: 0 10px;
  background-color: var(--dark-blue);
  height: 10px;
  width: 10px;
  border-radius: 50%;
  display: inline-block;
}
