@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400&display=swap");

:root,
body {
  margin: 0px;
  padding: 0px;
  /* background: red; */
}

.App {
  display: flex;
  font-family: "Nunito", "sans-serif";
}
